* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #131212; /* Customize the text color */
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #807b7b; /* Customize the line color */
  margin: 0 10px; /* Space around the text */
}
